<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Movie Database</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/css/styles.css"
	th:href="@{/css/styles.css}" />
</head>
<body>
	<header>
		<nav id="navMenu">
			<ul>
				<li><a href="/index">Main page</a></li>
				<li><a href="/movielist">Movies</a></li>
				<li><a href="/genrelist">Genres</a></li>
				<li sec:authorize="hasAuthority('ADMIN')"><a href="/userlist">Users</a></li>
				<li sec:authorize="isAnonymous()" class="nav-right"><a href="/signup">Sign up</a></li>
				<li sec:authorize="isAnonymous()" class="nav-right"><a href="/login">Log in</a></li>
				<li sec:authorize="isAuthenticated()" class="nav-right"><a href="/logout">Log out</a></li>
				<li sec:authorize="isAuthenticated()" class="nav-right"><p>Logged in as</p><p sec:authentication="name"></p></li>
				
			</ul>
		</nav>
	</header>
	<h1 th:text="${reviews[0].movie.title} + ' reviews'"></h1>
		<div sec:authorize="isAuthenticated()" style="position: static; text-align: right;">
		<a th:href="@{/newreview/{id}(id=${reviews[0].movie.movieId})}">Write a review</a>
	</div><br>

	<div th:each="review : ${reviews}" class="review">
			<img th:src=@{/images/user.png}>
			<p th:text="${review.rating} + '/5'"></p><br>
			<p><i th:text=${review.comment}></i></p>
			<h4 th:text="${review.user.username}"></h4>	
			<span sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/review/delete/{id}(id=${review.reviewId})}">Delete</a></span>
	</div>


</body>
</html>